body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #18FFFF, #0091EA);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    /* Center the container */
}

h1 {
    color: #3498db;
    /* Blue */
}

#taskTitle,
#taskDescription {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    /* Blue */
    border-radius: 4px;
}

#addTaskBtn {
    padding: 8px;
    cursor: pointer;
    background-color: #2ecc71;
    /* Green */
    color: #fff;
    border: none;
    border-radius: 4px;
}

.taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task {
    background-color: #ecf0f1;
    /* Light Gray */
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3 {
    margin: 0;
    color: #333;
}

.task p {
    margin: 5px 0;
    color: #666;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.completeBtn {
    background-color: #2ecc71;
    /* Green */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 4px;
}

.deleteBtn,
.editBtn {
    background-color: #e74c3c;
    /* Red */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 4px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

